<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sagar.dishtv">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dishtv1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dishtv1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.sagar.dishtv1.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sagar.dishtv1.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity android:name="com.example.sagar.dishtv1.polling" />
        <activity
            android:name="com.example.sagar.dishtv1.MoviesViewer"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity android:name="com.example.sagar.dishtv1.FindChannel" />
        <activity android:name="com.example.sagar.dishtv1.ActiveServices" />
        <activity android:name="com.example.sagar.dishtv1.PaymentActivity"></activity>
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_ILgsfZCZoFIKMb"
            />

    </application>

</manifest>